*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

/* Experience */
#experience{
    position:fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#experience-canvas{
    width: 100%;
    height: 100%;
}

/* Utilities */
.hidden{
    display: none;
}

/* Loading Screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 12px solid white;
  z-index: 10;
  pointer-events: all;
  transition: opacity 0.5s ease;
}

.enter-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 36px;
  background: lightgreen;
  border: 3px solid white;
  padding: 8px 20px;
  opacity: 1;
}

.enter-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: lightgreen;
}


/* Modal */
.modal {
    z-index: 999;
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: #ce75d1;
    border: 2px solid #fff;
    color: #fff;
}

.modal-wrapper{
    padding: 12px
}

.modal-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fanPin {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #a8ffb0; /* Light green background */
    border: 2px solid #4caf50;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: right;
}

.fanPin:hover {
    background-color: #4caf50;
    color: white;
}
.bulbLedPin {
    position: fixed;
    top: 70px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #a8ffb0; /* Light green background */
    border: 2px solid #4caf50;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: right;
}

.bulbLedPin:hover {
    background-color: #4caf50;
    color: white;
}
.pumpPin {
    position: fixed;
    top: 120px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #a8ffb0; /* Light green background */
    border: 2px solid #4caf50;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: right;
}

.pumpPin:hover {
    background-color: #4caf50;
    color: white;
}
/* .doorPin {
    position: fixed;
    top: 170px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #a8ffb0; 
    border: 2px solid #4caf50;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: right;
}

.doorPin:hover {
    background-color: #4caf50;
    color: white;
} */

